apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: collector
  namespace: a1-app
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: collector
  minReplicas: 1
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 50
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 1 # react quickly
    scaleDown:
      stabilizationWindowSeconds: 1
