apiVersion: v1
kind: Service
metadata:
  name: alert
  namespace: a1-app
spec:
  selector:
    app: alert
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 32500
  type: NodePort
