apiVersion: apps/v1
kind: Deployment
metadata:
  name: alert
  namespace: a1-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alert
  template:
    metadata:
      labels:
        app: alert
    spec:
      containers:
        - name: alert
          image: ccuni/alert-service-2025w
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /readinessProbe
              port: 80
          livenessProbe:
            httpGet:
              path: /livenessProbe
              port: 80
          resources:
            requests:
              cpu: "10m"
              memory: "80Mi"
            limits:
              cpu: "100m"
              memory: "150Mi"
