apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
  namespace: a1-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
        - name: mongo
          image: mongo:7
          ports:
            - containerPort: 27017
          resources:
            requests:
              cpu: 10m
              memory: "150Mi"
          volumeMounts:
            - name: mongo-pv
              mountPath: /data/db
      volumes:
        - name: mongo-pv
          persistentVolumeClaim:
            claimName: mongo-pvc
